<div class="container">
  <div class="card green lighten-3">
    <div class="card-content black-text">
      <span class="card-title">{{ticker}}</span>
      <ul>
        <li>
          <strong>Ticker: </strong>{{ticker}}</li>
        <li>
          <strong>Historical high diference: </strong> {{historicalMaxPercent}}%</li>
        <li>
          <strong>week diference: </strong> {{weekDiff}}%
          <i *ngIf="_weekDiff" class="material-icons arr-up">arrow_upward</i>
          <i *ngIf="!_weekDiff" class="material-icons arr-dow">arrow_downward</i>
        </li>
        <li>
          <strong>Month diference: </strong> {{monthDiff}}%
          <i *ngIf="_monthDiff" class="material-icons arr-up">arrow_upward</i>
          <i *ngIf="!_monthDiff" class="material-icons arr-dow">arrow_downward</i>
        </li>
        <li>
          <strong>Trimester diference: </strong> {{trimesterDiff}}%
          <i *ngIf="_trimesterDiff" class="material-icons arr-up">arrow_upward</i>
          <i *ngIf="!_trimesterDiff" class="material-icons arr-dow">arrow_downward</i>
        </li>
        <li>
          <strong>Half a year diference: </strong> {{halfYearDiff}}%
          <i *ngIf="_halfYearDiff" class="material-icons arr-up">arrow_upward</i>
          <i *ngIf="!_halfYearDiff" class="material-icons arr-dow">arrow_downward</i>
        </li>
        <li>
          <strong>Year diference: </strong> {{yearDiff}}%
          <i *ngIf="_yearDiff" class="material-icons arr-up">arrow_upward</i>
          <i *ngIf="!_yearDiff" class="material-icons arr-dow">arrow_downward</i>
        </li>
      </ul>
    </div>
    <!--<div class="card-action">
          <a routerLink="/ticker-detail/{{data.info.symbol}}">Go to details</a>
        </div>-->
  </div>
</div>