<nav class="nav-extended blue lighten-3">
  <div class="nav-wrapper container">
    <a materialize="sideNav" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="statistics" class="waves-effect"><strong>Base statistics</strong></a></li>
      <!--<li routerLinkActive="active"><a routerLink="test" class="waves-effect"><strong>Test</strong></a></li>
      <li routerLinkActive="active"><a routerLink="maximos" class="waves-effect"><strong>Maximos historicos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="lista" class="waves-effect"><strong>Lista Maximos historicos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="buscador-tickers-iex" class="waves-effect"><strong>Busqueda tickers iex</strong></a></li>
      <li routerLinkActive="active"><a routerLink="analysis" class="waves-effect"><strong>Analisis de mercado</strong></a></li>
      <li routerLinkActive="active"><a routerLink="lista-max" class="waves-effect"><strong>Lista maximos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="cache" class="waves-effect"><strong>Cache</strong></a></li>-->
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li routerLinkActive="active"><a routerLink="statistics" class="waves-effect"><strong>Base statistics</strong></a></li>
      <!--<li routerLinkActive="active"><a routerLink="test" class="waves-effect"><strong>Test</strong></a></li>
      <li routerLinkActive="active"><a routerLink="maximos" class="waves-effect"><strong>Maximos historicos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="lista" class="waves-effect"><strong>Lista Maximos historicos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="buscador-tickers-iex" class="waves-effect"><strong>Busqueda tickers iex</strong></a></li>
      <li routerLinkActive="active"><a routerLink="analysis" class="waves-effect"><strong>Analisis de mercado</strong></a></li>
      <li routerLinkActive="active"><a routerLink="lista-max" class="waves-effect"><strong>Lista maximos</strong></a></li>
      <li routerLinkActive="active"><a routerLink="cache" class="waves-effect"><strong>Cache</strong></a></li>-->
    </ul>
  </div>
</nav>